//fonts
font = "museo-sans"

//paterns

/*
std-patern = '/img/pw_maze_white.png'
light-patern = '/img/lighter.png'
med-patern = '/img/medium-dropdown-background.png'
dark-patern = '/img/darkest.png'
page-loader = '/img/ajax-loader.gif'
*/

std-patern = 'http://hklane2015.uptowncreativeinc.com/wp-content/uploads/2016/01/pw_maze_white.png'
light-patern = 'http://hklane2015.uptowncreativeinc.com/wp-content/uploads/2016/01/lighter.png'
med-patern = 'http://hklane2015.uptowncreativeinc.com/wp-content/uploads/2016/01/medium-dropdown-background.png'
dark-patern = 'http://hklane2015.uptowncreativeinc.com/wp-content/uploads/2016/01/darkest.png'

//colors
red = #d01944
black = #2d2d2d
grey = #7D7D7D

//misc
border-height = 10px
mobileShrink = 0.75

//global shit
html body
	a:hover
	a:focus
		cursor pointer